body {
  background-color: antiquewhite;
}

/* Nueva regla para el contenedor de la imagen superpuesta */
.overlay-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Estilo para la imagen superpuesta */
.background-image {
  position: fixed;
  /* Fija la imagen en la ventana del navegador */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('images/panal.jpg');
  background-size: cover;
  /* Ajusta el tamaño de la imagen para cubrir completamente el contenedor */
  opacity: 0.2;
  /* Ajusta la opacidad según sea necesario */
  z-index: -1;
  /* Coloca la imagen detrás de todos los demás elementos */
}


h1 {
  margin-top: 15px;
  margin-bottom: 20px;
  font-size: 100px;
  color: darkorange;
}

h3 {
  font-size: 18px;
  margin-top: 25px;
  margin-bottom: 0px;
  color: darkorange;
}

h4 {
  margin-top: 15px;
  margin-bottom: 20px;
  font-size: 18px;
  color: #1168b9;
}

.container {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

.word-list {
  margin-bottom: 20px;
}

.word-list ul {
  list-style-type: none;
  padding: 0;
}

.word-list ul li {
  display: inline-block;
  margin: 0 10px;
  cursor: pointer;
  /* Cambia el cursor a pointer */
  border: 1px solid #ccc;
  padding: 20px;
  margin: 0 auto;
  width: 180px;
  background-color: #1168b9;
  color: azure;
  font-size: 22px;
}

.word-list ul li:hover,
.word-list ul li:active {
  background-color: darkorange;
  /* Cambia el color de fondo cuando se pasa el cursor o se hace clic */
}


.abc ul {
  list-style-type: none;
  padding: 0;
}

.abc {
  margin-top: 5px;
  margin-bottom: 20px;
}

.abc ul li {
  display: inline-block;
  margin: 0 10px;
  cursor: pointer;
  /* Cambia el cursor a pointer */
  border: 1px solid #ccc;
  padding: 20px;
  margin: 0 auto;
  width: 12px;
  background-color: #1168b9;
  color: azure;
  font-size: 22px;
}

.abc ul li:hover,
.abc ul li:active {
  background-color: darkorange;
  /* Cambia el color de fondo cuando se pasa el cursor o se hace clic */
}


.pronunciation {
  padding: 20px;
  max-width: 300px;
  margin: 0 auto;
  background-color: #ccc;
  margin-bottom: 40px;
}

.syllables {
  padding: 20px;
  max-width: 300px;
  margin: 0 auto;
  background-color: #ccc;
  margin-bottom: 20px;
}

.container ul {
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

footer {
  margin-top: 20px;
  text-align: center;
  font-size: 18px;
  color: chocolate;
}

/* Estilo para resaltar las sílabas */
#syllables span {
  transition: background-color 0.82s ease;
}

/* Estilo de resaltado */
#syllables span.highlighted {
  background-color: darkorange;
  /* Cambia el color de resaltado según tus preferencias */
}

p {
  font-size: 24px;
  overflow: hidden;
  /* Oculta el texto que excede el tamaño del contenedor */
  color: chocolate;
  letter-spacing: 10px;
  /* Agrega espacio entre cada letra */
}



.word-list-practice {
  margin-bottom: 20px;
}

.word-list-practice ul {
  list-style-type: none;
  padding: 0;
}

.word-list-practice ul li {
  display: inline-block;
  margin: 0 10px;
  cursor: pointer;
  /* Cambia el cursor a pointer */
  border: 1px solid #ccc;
  padding: 20px;
  margin: 0 auto;
  width: 180px;
  background-color: #1168b9;
  color: azure;
  font-size: 22px;
}

.word-list ul li:hover,
.word-list ul li:active {
  background-color: darkorange;
  /* Cambia el color de fondo cuando se pasa el cursor o se hace clic */
}

.button {
  display: inline-block;
  padding: 40px 40px;
  background-color: #1168b9;
  color: #ffffff;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
  margin-bottom: 40px;
  width: 200px;
  font-size: 18px;
}

.button:active,
.button:hover {
  background-color: #0e5c9e;
  /* Cambia el color de fondo cuando se presiona el botón */
}

.button3 {
  display: inline-block;
  padding: 40px 40px;
  background-color: darkorange;
  color: #ffffff;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
  margin-bottom: 40px;
  width: 200px;
  font-size: 18px;
}

.button3:active,
.button3:hover {
  background-color: chocolate;
}



/* Estilos para el modal */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.9);
}

.modal-content {
  background-color: #1168b9;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
  color: azure;
  font-size: 32px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: white;
  text-decoration: none;
  cursor: pointer;
}

#modal {
  display: flex;
  justify-content: center;
  /* Centra horizontalmente */
  align-items: center;
  /* Centra verticalmente */
  height: 100%;
  /* Opcional: asegura que el modal ocupe toda la altura */
}

#user-input {
  font-size: 18px;
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  outline: none;
  transition: border-color 0.3s ease;
  width: 80%;
  /* Anchura del input */
  max-width: 400px;
  /* Anchura máxima del input */
}



#user-input:focus {
  border-color: dodgerblue;
  /* Cambia el color del borde al enfocar */
}